<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Aula Flask</title>
</head>

<body>
    <center>
        <h1>Estou aprendendo Flask</h1>
        
        <table>
            
        </table>

        <h3>CADASTRAR</h3>
        <input type="cadastrar">
        <button>CADASTRAR</button>

        <H3>ATUALIZAR</H3>
        <input type="atualizar">
        <button>ATUALIZAR</button>

        <h3>DELETAR</h3>
        <input type="deletar">
        <button>DELETAR</button>
    </center>
</body>

</html>